<template>
  <body>
  <div id="app">

<section class = "titlepage">
  <h1 id = "define">Book Management</h1>
  <button type="button" class="btn btn-danger" id="logout">Log-out</button>
</section>

<section class ="tableabove">
<button v-b-modal.AddBook @click="$bvModal.show('AddBook')" class="btn btn-dark" ID="addbook">Add Book</button>

<form>
	<input type="text" id="search2" name="search" placeholder="search">
	<button type="submit" class="btn" id="searchbut2"><img src="../../assets/images/glass.png"></button>
</form>
</section>


  <div id="zxc" style="height: 856px;">
  <table id ="tabley">
  <thead class= "design">
	<tr>
     <th>Book Name</th>
     <th>Author</th>
     <th>Copies Available</th>
     <th>Category</th>
     <th>Edit</th>
     <th>Delete</th>
     <th>Borrow</th>
     <th>Return</th>
	</tr>
  </thead>
  <tbody>
<tr v-for="Book in PatronModelFilter" :key="Book.id">
                 <td>
                    {{ Book.name }}
                </td>
                <td>
                    {{ Book.author }}
                </td>
                <td>
                    {{ Book.copies }}
                </td>
                  <td>
                    {{ Book.category_id }}
                  </td>
                  <td class="text-center">
                    <a @click="Form = Book" v-b-modal.UpdateBook> <img src="../../assets/images/edit.png">
                    </a>
                  </td>
                  <td class="text-center" >
                     <a @click="SelectedPatron = Book" v-b-modal.DeleteModal ><img src="../../assets/images/delete.png" > </a>
                  </td>
                  <td class="text-center" >
                     <a><img src="../../assets/images/borrow.png" > </a>
                  </td>
                  <td class="text-center" >
                     <a><img src="../../assets/images/return.png" > </a>
                  </td>
                </tr>
  </tbody>
	
</table>
  </div>

  <b-modal id="AddBook" title="Add Book" hide-footer  ref="modal" >
          <div class="modal-body">
               <form id="AddBook" ref="modal">
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" id="labels">Book Name:</label>
                   <input id="BookName"  v-model="Form.name" type="text" name="name" class="form-control form-control-lg" placeholder="Book Name ">
                   </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label" id="labels">Author:</label>
                       <input id="Author"  v-model="Form.author" type="text" name="Author" class="form-control form-control-lg" placeholder=" Author ">
                      </div>
                   <div class="form-group">
                      <label for="recipient-name" class="col-form-label" id="labels" >Copies Available:</label>
                      <input  id="Copies" placeholder=" Copies Available" v-model="Form.copies" type="text" name="CopiesAvailable" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label" id="labels">Category:</label>
                      <b-form-select id="Genre" v-model="Form.category_id">
                       <b-form-select-option
                          :value="Category.id"
                          v-for="Category in AllCategories"
                          :key="Category.id"
                          >{{ Category.category }}</b-form-select-option>
                        </b-form-select>
                  </div> 
               </form>
               <div class="modal-footer">
                <button @click="AddBook" type="button" class="btn btn-primary" id="addpat" data-dismiss="modal">Add Book</button>
               </div>
            </div>
            </b-modal>

   <b-modal id="UpdateBook" title="Update Book" hide-footer ref="modal">
             <div class="modal-body p-4">
               <form id="AddBook" ref="modal">
                  <div class="form-group">
                     <label for="recipient-name" class="col-form-label" id="labels">Book Name:</label>
                      <input id="BookName"  v-model="Form.name" type="text" name="name" class="form-control form-control-lg" placeholder="Book Name ">
                   </div>
                   <div class="form-group">
                    <label for="recipient-name" class="col-form-label" id="labels">Author:</label>
                    <input id="Author"  v-model="Form.author" type="text" name="Author" class="form-control form-control-lg" placeholder=" Author ">
                   </div>
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" id="labels" >Copies Available:</label>
                     <input  id="Copies" placeholder=" Copies Available" v-model="Form.copies" type="text" name="CopiesAvailable" class="form-control form-control-lg" >
                  </div>
                 <div class="form-group">
                  <label for="recipient-name" class="col-form-label" id="labels">Category:</label>
                  <b-form-select id="Genre" v-model="Form.category_id">
                    <b-form-select-option
                     :value="Category.id"
                     v-for="Category in AllCategories"
                     :key="Category.id"
                     >{{ Category.category }}</b-form-select-option>
              </b-form-select>
               </div>
               <div class="modal-footer">
                  <button @click="UpdateBook()" type="button" class="btn btn-primary" id="addpat" data-dismiss="modal">Update Book</button>
               </div> 
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btndesigns btn btn-info btn-block btn-lg" > Update Book </button>    
            </div>
          </template>
        </b-modal>


         <b-modal  size="300px" hide-header id="DeleteModal"  centered ref="modal">
           <p3 style="color:white;" class="text-center">Are you sure you want to Delete?</p3>
           
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
             <button type="button" class="btn btn-danger mr-2"  data-dismiss="modal" block @click="DeleteBook()" >
                Yes
              </button>
                <button type="button" class="btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                Cancel
              </button>
              
            </div>
          </template>
        </b-modal>
     </div>
  </body>

</template>

<script src="../../assets/js/books.js"></script>

<script>
import { mapGetters, mapActions } from "vuex";
import Book from '../../assets/js/books.js'
export default Book;

</script>

<style>

</style>
