<template>
<body>
  <div id="app">
    
<section class = "titlepage">
  <h1 id = "define">Dashboard</h1>
  <button type="button" class="btn btn-danger" id="logout">Log-out</button>
  </section>

   <section class="charts">
             <div class="row">
              <div class="column">
                <canvas id="pieChart" style="height:30vh; width:30vw;"></canvas>   
              </div>
              <div class="column">
                <canvas id="barChart" ref="barChart" style="height:30vh; width:30vw;"></canvas> 
              </div> 
             </div> 
   </section>    
    
  </div>
</body>
</template>

<script>
import Chart from 'chart.js';
export default {
  components: {
     
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['In Search Of Lost Time', 'Ulysses', 'Good Luck, Have Fun', 'Hello World! Solar System', 'Diary of a Wimpy Kid'],
          datasets: [
            {
              label: "Returned Books",
              data: [5, 2, 3, 4, 1],
              backgroundColor: "rgba(117, 121, 231,8)",
            },
            {
              label: "Borrowed Books",
              data: [3, 4, 1, 3, 5],
              backgroundColor: "rgba(255,0,0)",

            },
          
          ],
        },
        options: { 
          title:{
            display: true,
            text: 'Returned/Borrowed',
            fontSize: 20,
            fontColor: '#000000',
            position: 'top',
            align: 'center',
          },
          
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [3, 2, 5, 1,2],
              backgroundColor: [
                "rgb(51, 102, 204)",
                "rgba(220, 57, 18)",
                "rgba(255, 153, 0)",
                "rgba(16, 150, 24)",
                "rgba(153, 0, 153)",
              ],
            },
          ],

          labels: [
					'In Search Of Lost Time',
					'Ulysses',
					'Good Luck, Have Fun',
					'Hello World! Solar System',
					'Diary of a Wimpy Kid'
				],
        },
        options:{
          title:{
            display: true,
            text: 'Popular Books',
            fontSize: 30,
            fontColor: '#000000',
            position: 'top',
            align: 'center',
          }
        }
        
      });
    });
  },
  
};
 
</script>

<style>
</style>