<template>
  <body>
  <div id="app">

<section class = "titlepage">
  <h1 id = "define">Patron Management</h1>
  <button type="button" class="btn btn-danger" id="logout">Log-out</button>
</section>

<section class ="tableabove">
<button v-b-modal.AddPatron @click="$bvModal.show('AddPatron')" class="btn btn-dark" ID="addpatron">Add Patron</button>

<form>
	<input type="text" id="search" name="search" placeholder="search">
	<button type="submit" class="btn" id="searchbut"><img src="../../assets/images/glass.png"></button>
</form>
</section>


  <div id="zxc" style="height: 856px;">
  <table id ="tablex">
  <thead class= "design">
	<tr>
     <th>Name</th>
     <th>Email Address</th>
     <th>Date Registered</th>
     <th>Edit</th>
     <th>Delete</th>
	</tr>
  </thead>
  <tbody>
<tr v-for="Patron in PatronModelFilter" :key="Patron.id">
                 <td>
                    {{ Patron.first_name + " " + Patron.last_name }}
                </td>
                  <td>
                    {{ Patron.email }}
                  </td>
                  <td>
                    {{ Patron.created_at }}
                  </td>
                  <td class="text-center">
                    <a href="#"> <img src="../../assets/images/edit.png"   @click="Form = Patron" v-b-modal.UpdatePatron >
                    </a>
                  </td>
                  <td class="text-center" >
                     <a href="#" @click="SelectedPatron = Patron" v-b-modal.DeleteModal ><img src="../../assets/images/delete.png" > </a>
                  </td>
                </tr>
  </tbody>
	
</table>
  </div>


  <b-modal id="AddPatron" title="Add Patron" hide-footer  ref="modal" >
          <div class="modal-body">
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" id="labels">First Name:</label>
                   <input id="PatronFirstName"  v-model="Form.first_name" type="text" name="name" class="form-control form-control-lg" placeholder="First Name ">
                   </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label" id="labels">Middle Name:</label>
                       <input id="PatronMiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" placeholder=" Middle Name ">
                      </div>
                   <div class="form-group">
                      <label for="recipient-name" class="col-form-label" id="labels" >Family Name:</label>
                      <input  id="PatronLastName" placeholder=" Last Name" v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label" id="labels">Email:</label>
                      <input id="PatronEmail" placeholder=" Email Address" v-model="Form.email" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               </form>
               <div class="modal-footer">
              <button @click="AddPatron" type="button" class="btn btn-primary" id="addpat" data-dismiss="modal">Add Patron</button>
               </div>
            </div>
            </b-modal>

   <b-modal id="UpdatePatron" title="Update Patron" hide-footer ref="modal">
             <div class="modal-body p-4">
               <form id="AddPatron" ref="modal">
                  <div class="form-group">
                     <label for="recipient-name" class="col-form-label" id="labels">First Name:</label>
                      <input id="PatronFirstName"  v-model="Form.first_name" type="text" name="name" class="form-control form-control-lg" placeholder="First Name ">
                   </div>
                   <div class="form-group">
                    <label for="recipient-name" class="col-form-label" id="labels">Middle Name:</label>
                   <input id="PatronMiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" placeholder=" Middle Name ">
                   </div>
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" id="labels" >Family Name:</label>
                     <input  id="PatronLastName" placeholder=" Last Name" v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" >
                  </div>
                 <div class="form-group">
                  <label for="recipient-name" class="col-form-label" id="labels">Email:</label>
                  <input id="PatronEmail" placeholder=" Email Address" v-model="Form.email" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div>
               <div class="modal-footer">
                  <button @click="UpdatePatron()" type="button" class="btn btn-primary" id="addpat" data-dismiss="modal">Update Patron</button>
               </div> 
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button @click="UpdatePatron()" type="button" class="btndesigns btn btn-info btn-block btn-lg" > Update Patron </button>    
            </div>
          </template>
        </b-modal>


         <b-modal  size="300px" hide-header id="DeleteModal"  centered ref="modal">
           <p3 style="color:white;" class="text-center">Are you sure you want to Delete?</p3>
           
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
             <button type="button" class="btn btn-danger mr-2"  data-dismiss="modal" block @click="DeletePatron()" >
                Yes
              </button>
                <button type="button" class="btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                Cancel
              </button>
              
            </div>
          </template>
        </b-modal>
     </div>
  </body>

</template>

<script src="../../assets/js/patron.js"></script>

<script>
import { mapGetters, mapActions } from "vuex";
import patron from '../../assets/js/patron.js'
export default patron;

</script>

<style>

</style>
