<template>
<body>
  <div id="app">

 <section class = "titlepage">
	<h1 id = "define">Settings</h1>
	<button type="button" class="btn btn-danger" id="logout">Log-out</button>
 </section>
  </div>
</body>
</template>



<script>


export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
      
      },
};
</script>

<style>

</style>