@font-face {
    font-family: 'INTEGRAL CF';
    font-style: normal;
    font-weight: normal;
    src: local('INTEGRAL CF'), url('asset/fonts/IntegralCF-Bold.woff') format('woff');
    }
@font-face {
    font-family: 'Haettenschweiler';
    font-style: normal;
    font-weight: normal;
    src: local('Haettenschweiler'), url('asset/fonts/HATTEN.TTF') format('TTF');
    }
@font-face {
    font-family: 'Atletico Light';
    font-style: normal;
    font-weight: normal;
    src: local('Atletico Light'), url('asset/fonts/Atletico Light.otf') format('otf');
    }
 @font-face {
    font-family: 'Atletico Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Atletico Medium'), url('asset/fonts/Atletico Medium.otf') format('otf');
    }

.logo
{
	height: 40px;
	padding: 2px 10px;
}
.navbar-nav
{
	position:relative;
	height: 40px;
	text-transform: uppercase;
	font-family:Atletico !important; 
	font-weight: bold;

}
.carousel-item img {
	width: 100%
}
.form-control.mr-sm-2{
	color:#F6F5F5;
}
.container {
	max-width: 100%
}
.basketball {
    background-image: url("../img/spalding.jpg");
    height: 125vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#headline {
	font-family:'Haettenschweiler';
	font-size: 10rem; 
	color: #F6F5F5;
	opacity: 80%;
}
#news
{
	font-family:'Atletico';
	font-size: 2rem; 
	color: #F6F5F5;
}
#more
{
	font-family:'Atletico';
	font-size: 2rem; 
	color: #F6F5F5;
}
#headline2 {
	font-family:'Haettenschweiler';
	font-size: 8rem; 
	color: #F6F5F5;
	opacity: 80%;
}
#searchbut {
	background color: #019F4A
}
.soccer {
    background-image: url("../img/socback.jpg");
    height: 115vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner{
	padding: 40px 10px;
}
.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background-image: url("../img/footback.jpg");
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 0px;
	text-transform: uppercase;
  	margin-bottom: 15px;
}

.footer h4 {
	color: white;
	font-size: 2em;
	font-weight: 600;
	line-height: 38px;
	padding: 40px 0 10px;
	font-family: cursive;
  font-weight: lighter
}
#aboutx{
	margin-top: 3em
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
.footer ul li a {
	padding: 0 0 12px 0;
	display: block;
}
.footer a {
	font-family: Atletico;
	color: white;
  font-weight: Medium;
}

.footer p {
	color: white;
  font-weight: lighter;
  font-size: 
}

.footer a:hover {
	text-decoration:none;
  font-weight: bold;
  color: #8ACC25;
}
.zxc u:hover {
	text-decoration:none;
  color: #8ACC25;
}
.abc u:hover {
	text-decoration:none;
  color: #8ACC25;
}

.footer-bottom {
  margin-top: 2em;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
  font-size: 0.75em
}
