<template>
  <div id="app">
    <SideBar/>
    <router-view> </router-view>
  </div>
</template>
<script>
import SideBar from "./components/navigation/SideBar"
export default {
  components: { 
    SideBar 
    
    },
  
}
</script>
