<template>
  <div class="sidenav" id="app">
    <hr class="solid">
 <section class ="bar">	
<div class="sidebar">
 <a class="nav-header" id="logo"><img src="../../assets/images/logo.png"></a> 

  <router-link to="/Dashboard">  
      <a id="choice" href="index.html">Dashboard</a>
  </router-link>
  
  <router-link to="/Patron"> 
      <a id="choice" href="PatronManagement.html">Patron Management</a>  
  </router-link>
  
  <router-link to="/Book">
    <a id="choice" href="BookManagement.html">Book Management</a>
  </router-link>
  
  <router-link to="/Settings">
      <a id="choice" href="Settings.html">Settings</a>  
  </router-link>

</div>

</section>
       
   </div>
  
</template>
<script>
export default {
  
}
</script>
<style></style>