body {
	background color: #F2AB39;
  width: : 100%;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #231A0E;
  position: fixed;
  height: 105%;
  overflow: auto;
}
#charts{
  position: relative;
  top: 200px;
  left: 400px;
  border: 1px solid #000; 
}
#addpatron {
  position: relative;
  top: 50px;
  left: 540px;
  background-color: #231A0E;
}
.sidebar a.active {
  background-color: #555;
  color: white;
}

.sidebar a {
  display: block;
  color: #FFFFFF;
  padding: 20px;
  text-decoration: none;
  font-family: Haettenschweiler;
  font-size: 150%
}

.sidebar #choice:hover:not(.active) {
  background-color: #555;
  color: white;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
#logo {
	width: 300px;
  height: auto;
}

hr.solid {
  border-top: 2px 
  solid #000000;
  position: fixed;
  top: 40px;
  width: 100%;
}
#define {
	font-family: Atletico;
	font-weight: bold;
	position: fixed;
	top: 5px;
	left: 260px;
	color: black;
}
#logout {
  position: fixed;
  top: 10px; 
  left: 1800px;
}
#tablex {
  width: 1000px;
  position: relative;
  top: 50px;
  left: 540px;
}
th {
  font-family: Atletico;
  font-weight: bold;
  font-size: 150%;
  color: black;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
table, th, td {
  border: 2px solid #000;
}
td {
  text-align: center;
  font-family: Copse;
  color: black;
  padding: 10px;
  font-size: 120%
}
#deletebut1 {
  position: relative;
  top: -5px;
  left: -48px;
  color: #494949;
}
#editbut1{
  position: relative;
  top: -10px;
  left: -50px;
  color: #494949;
}
#editbut2{
  position: relative;
  top: -10px;
  left: -80px;
  color: #494949;
}
#deletebut2 {
  position: relative;
  top: -10px;
  left: 40px;
  color: #494949;
}
#borrowbut2 {
  position: relative;
  top: -70px;
  left: 70px;
  color: #494949;
}
#returnbut2 {
  position: relative;
  top: -8px;
  left: -50px;
  color: #494949;
}
#addpatron {
  position: relative;
  top: 120px;
  left: 540px;
  background-color: #231A0E;
}
#addbook{
  position: relative;
  top: 110px;
  left: 350px;
  background-color: #231A0E;
}
#search {
  width: 15%;
  padding: 5px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  top: 65px;
  left: 1200px;
}
#searchbut{
  position: relative;
  top: 60px;
  left: 1180px;
}
#search2 {
  width: 15%;
  padding: 5px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  top: 55px;
  left: 1480px;
}
#searchbut2{
  position: relative;
  top: 50px;
  left: 1470px;
}
.modal-header{
  background-color: #FFFFFF;
  font-family: Atletico;
}
.modal-body {
  background-color: #231A0E;
}
.modal-footer{
  background-color: #231A0E;
}
#addpat{
  background-color: #F2AB39;
  border: 1px solid #F2AB39;
  color: #000;
}
#labels{
  color:  #FFFFFF;
}
#deletebod{
  background-color: #FFFFFF;
}
#tabley {
  width: 1500px;
  position: relative;
  top: 40px;
  left: 340px;
}
#tabley td {
  text-align: center;
  font-family: Copse;
  color: black;
  font-size: 120%
}
#tabley th {
  text-align: center;
}
#choosez {
  width: 460px;
}

